@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
}

/* shared style */
.display-flex{
    display: flex;
    gap: 3rem;
}
.btn-primary{
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: .5rem;
}
.dark-3{
    color: #727272;
    padding-bottom: 1rem;
}
.primary-color{
    color: #FF900E;
}

/* header styles */
header, .banner{
    background-color: rgba(255, 216, 14, 10%);
}


.navbar{
    justify-content: space-between;
    padding: 3rem 4rem 3rem 5rem;
    /* padding: 0 4rem; */
    text-align: center;
    align-items: center;
}
.navbar h1{
    font-size: 2.8rem;
    font-weight: bold;
}
.nav-item{
    list-style: none;
    gap: 3rem;
    text-align: center;
    align-items: center;
}
.nav-item a{
    text-decoration: none;
    color: #424242;
    font-weight: 400;
}

/* banner styles */

.banner{
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 1.5rem;
}
.banner-content{
    width: 60%;
    margin: 2rem auto;
}
.banner-content h1{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
    padding: 1.25rem 1rem;
}
.banner-content p{
    font-size: 1rem;
    padding-bottom: 2rem;
}
.banner-image img{
    width: 80%;
}

/* banner2 styles */
.banner2{
    align-items: center;
    gap: 4rem;
    justify-content: center;
    width: 80%;
    margin: 12rem;
}
.banner2-content h2{
   color: #727272;
   font-weight: 500;
   font-size: 2.8rem;
}
.banner2-content h3{
    font-size: 2.8rem;
    font-weight: bold;
}
.banner2 .images{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

/* banner3 styles */
.banner3{
    margin: 2rem auto;
}
.banner3-content{
    width: 50%;
    text-align: left;
    padding: 4rem;
}
.banner3-content .details{
    text-align: left;
    margin: 1.2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.banner3-content .details p{
    padding: 2rem;
}
.banner3-image img{
    width: 80%;
}
.banner3-image h1{
    font-size: 2.8rem;
    font-weight: bold;
}
.banner3-image button{
    padding: 35px;
    margin-top: -100px;
    margin-left: -100px;
}

/* banner4 styles */
.card-container{
    width: 100%;
    text-align: center;
}
.card-items{
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-bottom: 2rem;
    margin: 1rem 12rem;
    padding: 2rem;
    /* width: 100%; */
}
.card{
    border: 2px solid #FF900E;
    width: 6rem;
    height: 9rem;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    width: 100%;
}
/*  Responsive Media query */

@media screen and (max-width: 576px ) {
    .display-flex, 
    .card-container
    {
        flex-direction: column;
        margin: auto;
    }

    .navbar, .nav-item{
        gap: 1rem;
        padding-bottom: 1.5rem;
    }
    .banner-content h1{
        font-size: 2rem;
    }
    .banner-content{
        width: 100%;
        padding: 0 2rem;
        margin: 0;
    }
    .banner2{
        margin: 2rem auto;
    }
    .banner2 .images{
        grid-template-columns: 1fr;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }
    .images img {
        width: 100%;
    }
    .banner3{
        flex-direction: column-reverse;
    }
    .banner3, .banner3-content{
        width: 100%;
        padding: 1rem;
    }
    .banner3-image img{
        width: 100%;
    }
    .banner3-image button{
        margin: 2rem auto;
    }
    .card-items{
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem auto;
        gap: 2rem;
    }
    .card-container{
        padding: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 990px) {
    .display-flex{
        /* flex-direction: column; */
        margin: auto;
        width: 100%;
    }
    .navbar{
        width: 100%;
        padding: 2rem 1rem 0 1rem;
        gap: 1rem;
    }
    .navbar h1{
        font-size: 2rem;
    }
    .nav-item{
        gap: 1rem;
    }
    .banner-content{
        width: 100%;
    }
    .banner-content h1{
        font-size: 2.5rem;
    }
    .banner2{
        width: 100%;
        gap: 1rem;
        flex-direction: column
    }
    .banner2 .images{
        grid-template-columns: repeat(2, 1fr);
    }
    .images img{
        width: 100%;
    }
    .banner2-content{
        padding: 1rem 2rem;
    }
    .banner3{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-items: center;
    }
    .banner3-image img{
        width: 80%;
        margin: 1rem 2rem;
    }
    .banner3-image button{
        margin: 1rem auto;
    }
    .banner3-content{
        width: 100%;
        padding: 2rem;

    }
}